:root {
   --dot-bg: #FFF3E3;
   --dot-color: #362B1E;
   --dot-size: 1px;
   --dot-space: 22px;
   
   font-family: system-ui, sans-serif;
}

body {
   width: 2000px;
   height: 2000px;
   margin: -1000px 0px 0px -1000px;
   scrollbar-width: none;
   
   background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
}

body p {
   width: 500px;
   height: 500px;
   
   background-color: red;;
   font-size: 100px;
}
