:root {
   --dot-bg: #FFF3E3;
   --dot-color: #362B1E;
   --dot-size: 1px;
   --dot-space: 22px;
   
   font-family: system-ui, sans-serif;
}

* {
   box-sizing: border-box;
}

body {
   width: 10000px;
   height: 10000px;
   position: absolute;
   scrollbar: none;

   background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
}

#origin {
   width: 30px;
   height: 30px;
   position: absolute;
   inset: 50%;
   border: 10px solid blue;
   border-radius: 15px;
   
   background-color: red;
}
